/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --challenge-hue: 80;
    --note-hue: 30;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Droid Sans", sans-serif, "Meiryo";
    max-width: 80ch;
    font-weight: 300;
    margin: auto;    
	padding: 0 26px;
	word-wrap: break-word;
}
@media screen {    
    body {
        font-size: 12pt;
        line-height: 1.2em;
    }
    body::after {
        content: "© Dr Graeme Stuart";
        font-size: 11pt;
        display: block;
        text-align: right;
        margin-top: 4em;
    }
    p {
        max-width: 60ch;        
    }    
}
@media screen and (min-width: 800px) {
    body {
        font-size: 14pt;
        line-height: 1.4em;
    }
}

h1, h2, h3 {
	font-weight: normal;
}
h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
h1:not(:nth-of-type(1)) {
    page-break-before: always;
    background-image: url("img/python-logo-only.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}
@media screen {    
    h1:not(:nth-of-type(1)) {
        padding-top: 25vh;
        padding-right: 1.5em;
        background-position: right bottom;
        background-size: 1.2em;
        background-blend-mode: normal;
        border-top: 2px solid grey;
        transition: 0.2s;
        letter-spacing: -2px;
        text-align: right;
    }
}

h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: hsl(200, 100%, 30%);
}
a:visited {
    color: darkred;
}
a:hover {
	text-decoration: underline;
}
p > a {
    text-decoration: underline;
    text-underline-offset: 3px;
}


.toc + ul > li {
    margin-bottom: 0.75em;
    font-size: 14pt;
}
.toc + ul > li > ul > li {
    font-size: 12pt;
}
@media screen {
    .toc + ul > li {
        font-weight: 400;
    }
}

em {
    font-weight: 400;
}
strong {
    font-weight: 500;
}

figure {
    text-align: center;
}

figure, pre, blockquote {
    break-inside: avoid;
    overflow: auto;
    margin-top: 1.5em;
}
table + figcaption {
    margin-top: 0.5em;
}


table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th, td {
	padding: 5px 10px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

body > p > img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.row {
    display: flex;
    gap: 0.25em;
    max-height: 17em;
    justify-content: space-between;
}

.row > img {
    min-width: 0;
    min-height: 0;
    object-fit: contain;
}

img.logo {
    min-height: 15em;
    margin: 1em auto;
}

pre {
	border-radius: 3px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre > code.language-python {
    position: relative;
    padding-bottom: 1em;
}

pre > code.language-python::after {
    content: "try it yourself";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.125em 0.25em;
    border-top-left-radius: 5px;
    font-size: 0.65em;
    background-color: hsl(var(--challenge-hue), 60%, 30%);
    color: hsl(var(--challenge-hue), 50%, 90%);
}

code {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1em;
    line-height: 1.357em;
}


code:not(.hljs) {
    color: hsl(var(--note-hue), 100%, 40%);
}

blockquote {
    border-left-width: 5px;
    border-left-style: solid;
    margin-inline: 0.25em;
    padding-inline: 1em;
    border-radius: 0 5px 5px 0;
    background-color: hsl(var(--note-hue), 50%, 95%);
    border-color: hsl(var(--note-hue), 100%, 50%);
}


blockquote.challenge::before {
    content: "work together on these";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    border-top-left-radius: 5px;
    font-size: 0.65em;
    background-color: hsl(var(--challenge-hue), 100%, 20%);
    color: white;
}

blockquote.challenge {
    position: relative;
    border-color: darkgrey;
    background-color: hsl(var(--challenge-hue), 50%, 85%);
    border-style: solid;
    border-width: 0 0.5px 0.5px 0.5px;
    border-radius: 5px;
    padding: 0 0 1.5em 0;
}

blockquote.challenge > header {
    background-color: hsl(var(--challenge-hue), 50%, 30%);
    background-image: url(https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: right 0.5em top 0.5em;
    background-blend-mode: screen;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}
blockquote.challenge > p {
    margin: 1em;
}

blockquote.challenge > pre {
    margin: 1em;
    padding: 0.5em;
}

footer {
    padding-top: 2em;
}

@media screen {    
    li {
        margin: 0.25em 0;
    }    
}

