@import "main.css";

:root {
    --bg-color: #333;
    --fg-color: #ddd;
    --slide-bg-color: white;
    --slide-fg-color: #333;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
    width: 100vw;
}

a {
    color: hsl(var(--link-hue), 100%, 80%);
}
a:visited {
    color: hsl(var(--link-hue), 50%, 80%);
}
.slide a {
    color: hsl(var(--link-hue), 100%, 30%);
}
.slide a:visited {
    color: hsl(var(--link-hue), 50%, 30%);
}

header > nav {
    background-color: hsla(var(--link-hue), 5%, 15%, 0.9);
    border-left: solid 2px hsl(var(--link-hue), 5%, 30%);
}
#menuToggler {
    background-color: hsla(0, 0%, 30%, 0.75);
}
#menuToggler > span {
    background-color: white;
}

header, main, footer {
    background-color: var(--bg-color);
    color: var(--fg-color);
}
header {
    margin: 0;
    border: 0;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow: hidden;
}
footer {
    padding-block: 0.5em;
    margin-top: 0;
    display: grid;
    place-items: center;
}
footer small {
    position: absolute;
    right: 1em;
}

section.slide {
    position: absolute;
    background-color: white;
    color: var(--bg-color);
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    translate: 100vw;
    margin-inline: auto;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 80ch;
}
@media screen and (min-width: 900px) {
    section.slide {
        top: 1em;
        bottom: 1em;
        left: 2em;
        right: 2em;
        border-radius: 1em;
        border: 2px solid var(--bg-color);
        box-shadow: 0 0 10px 3px #222;
    }
    section.slide figure img {
        max-width: 550px;
    }
}
@media screen and (min-height: 900px) {
    .slide {
        font-size: 1.1em;
    }
}
@media screen and (min-height: 1000px) {
    .slide {
        font-size: 1.3em;
    }
}

figure {
    margin-block: 0.5em;
}

section.slide h2 {
    margin-top: 0;
}

section.slide.current {
    z-index: 2;
}
section.slide.previous {
    z-index: 1;
}
section.slide.current.left {
    animation-name: enterBack;
}
section.slide.current.right {
    animation-name: enterForward;
}
section.slide.previous.left {
    animation-name: leaveBack;
}
section.slide.previous.right {
    animation-name: leaveForward;
}

section.slide.home {
    display: grid;
    place-items: center;
    grid-template-rows: 6fr 1fr;
}

section.slide.home p strong {
    font-size: 1.4em;
}

section.slide.home h2,
section.slide.home h3,
section.slide.home h4 {
    margin-block: 0.25rem;
    font-weight: 300;
    text-align: center;
}
section.slide.home h4 {
    font-weight: 400;
    margin-block: 1em;
}
section.slide.home h2 {
    font-size: 2em;
}
section.slide.home h3 {
    font-size: 1.6em;
}
section.slide.home h4 {
    font-size: 1.4em;
}
@media screen and (min-width: 500px) {
    section.slide.home h2 {
        font-size: 3em;
    }
    section.slide.home h3 {
        font-size: 2.2em;
    }
    section.slide.home h4 {
        font-size: 1.7em;
    }
}
@media screen and (min-width: 600px) {
    section.slide.home h2 {
        font-size: 5em;
    }
    section.slide.home h3 {
        font-size: 3em;
    }
    section.slide.home h4 {
        font-size: 2em;
    }
}

section.slide::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 6em;
    background-position: top 0.5em right 0.5em;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

main.python section.slide::after {
    background-image: url(../img/python-logo-only.svg);
}

main.python section.slide.home::after {
    background-size: cover;
    background-position: center center;
}

blockquote {
    margin-block: 0.5em;
    padding-block: 0em;
}


.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
    gap: 0.1em;
    margin-block: 0.5em 0.25em;
}
.auto-grid span {
    background-color: #ddd;
    padding: 0.1em 0.5ch;
}
@media screen and (min-width: 600px) {
    .auto-grid {
        grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
        /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    }
    .auto-grid span {
        padding: 0.25em 1ch;
    }
}

@keyframes enterBack {
    0% {
        translate: -100vw;
    }
    100% {
        translate: none;
    }
}

@keyframes leaveBack {
    0% {
        translate: none;
    }
    100% {
        translate: 100vw;
    }
}

@keyframes enterForward {
    0% {
        translate: 100vw;
    }
    100% {
        translate: none;
    }
}
@keyframes leaveForward {
    0% {
        translate: none;
    }
    100% {
        translate: -100vw;
    }
}