@import "main.css";

:root {
    --bg-color: #333;
    --fg-color: #ddd;
    --slide-bg-color: white;
    --slide-fg-color: #333;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
    width: 100vw;
}

a {
    color: hsl(var(--link-hue), 100%, 80%);
}
a:visited {
    color: hsl(var(--link-hue), 50%, 80%);
}
.slide a {
    color: hsl(var(--link-hue), 100%, 30%);
}
.slide a:visited {
    color: hsl(var(--link-hue), 50%, 30%);
}

header > nav {
    background-color: hsla(var(--link-hue), 5%, 15%, 0.9);
    border-left: solid 2px hsl(var(--link-hue), 5%, 30%);
}
#menuToggler {
    background-color: hsla(0, 0%, 30%, 0.75);
}
#menuToggler > span {
    background-color: white;
}

header, main, footer {
    background-color: var(--bg-color);
    color: var(--fg-color);
}
header {
    margin: 0;
    border: 0;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow: hidden;
}
footer {
    padding-block: 0.5em;
    margin-top: 0;
    display: grid;
    place-items: center;
}
footer small {
    display: none;
    position: absolute;
    right: 1em;
}
@media (min-width: 440px) {
    footer small {
        display: inline;
        position: absolute;
        right: 1em;
    }
}

.controls {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

section.slide {
    position: absolute;
    background-color: white;
    color: var(--bg-color);
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    translate: 100vw;
    margin-inline: auto;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 90ch;
}
section.slide figure img {
    max-height: 65vh;
}
section.slide figure.short img {
    max-height: 35vh;
}
@media screen and (min-width: 900px) {
    section.slide {
        top: 1em;
        bottom: 1em;
        left: 2em;
        right: 2em;
        border-radius: 1em;
        border: 2px solid var(--bg-color);
        box-shadow: 0 0 10px 3px #222;
    }
    section.slide figure img {
        max-width: 500px;
    }
}
@media screen and (min-height: 900px) {
    .slide {
        font-size: 1.1em;
    }
}
@media screen and (min-height: 1000px) {
    .slide {
        font-size: 1.3em;
    }
}

figure {
    margin-block: 0.5em;
    margin-inline: 0;
}
@media screen and (min-width: 500px) {
    figure {
        margin-inline: 1em;
    }
}

section.slide h2 {
    margin-top: 0;
}

section.slide.current {
    z-index: 2;
}
section.slide.previous {
    z-index: 1;
}
section.slide.current.left {
    animation-name: enterBack;
}
section.slide.current.right {
    animation-name: enterForward;
}
section.slide.previous.left {
    animation-name: leaveBack;
}
section.slide.previous.right {
    animation-name: leaveForward;
}

section.slide.home {
    display: grid;
    place-items: center;
    grid-template-rows: 6fr 1fr;
}

section.slide.home p strong {
    font-size: 1.4em;
}

section.slide.home h2,
section.slide.home h3,
section.slide.home h4 {
    margin-block: 0.25rem;
    font-weight: 300;
    text-align: center;
}
section.slide.home h4 {
    font-weight: 400;
    margin-block: 1em;
}
section.slide.home h2 {
    font-size: 2em;
}
section.slide.home h3 {
    font-size: 1.6em;
}
section.slide.home h4 {
    font-size: 1.4em;
}
@media screen and (min-width: 500px) {
    section.slide.home h2 {
        font-size: 3em;
    }
    section.slide.home h3 {
        font-size: 2.2em;
    }
    section.slide.home h4 {
        font-size: 1.7em;
    }
}
@media screen and (min-width: 600px) {
    section.slide.home h2 {
        font-size: 5em;
    }
    section.slide.home h3 {
        font-size: 3em;
    }
    section.slide.home h4 {
        font-size: 2em;
    }
}

section.slide::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 6em;
    background-position: top 0.5em right 0.5em;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

main.python section.slide::after {
    background-image: url(../img/python-logo-only.svg);
}

main.python section.slide.home::after {
    background-size: cover;
    background-position: center center;
}

blockquote {
    margin-block: 0.5em;
    padding-block: 0em;
}


.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
    gap: 0.1em;
    margin-block: 0.5em 0.25em;
}
.auto-grid > span {
    background-color: #ddd;
    padding: 0.1em 0.5ch;
}

/* generic sections */

.auto-grid > section {
    background-color: #bbb;
}
.auto-grid > section header {
    background-color: #ddd;
    color: #333;
}
.auto-grid > section > * {
    padding-inline: 0.5em;
}
.auto-grid > section > p {
    margin-block: 0.5em;
}

/* python versions */

.auto-grid.versions {
    grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
    gap: 1em 0.5em;
}

.auto-grid.versions > div {
    position: relative;
    padding: 0.25em;
}
.auto-grid.versions > div::before {
    content: "";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-image: url(../img/python-logo-only.svg);
}

.auto-grid.versions .current,
.auto-grid.versions .future {
    border: 5px solid hsl(200, 90%, 50%);
    background-color: hsla(200, 90%, 70%, 0.1);
}
.auto-grid.versions .future {
    opacity: 50%
}
@media screen and (min-width: 490px) {
    .auto-grid.versions {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 700px) {
    .auto-grid.versions {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 900px) {
    .auto-grid.versions {
        font-size: 1.4em;
    }
}

.auto-grid.versions > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

@media screen and (min-width: 600px) {
    .auto-grid {
        grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
        /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    }
    .auto-grid span {
        padding: 0.25em 1ch;
    }
}

ul.libraries {
    margin-inline: auto;
    width: 80%;
    list-style: none;
    padding: 0;
    gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 500px) {
    ul.libraries {
        grid-template-columns: repeat(3, 1fr);
    }    
}
ul.libraries li {
    border: 2px solid #333;
    border-radius: 2%;
    background-color: #eee;
}
ul.libraries li a img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: contain;
}


ul.grid-code-2, ul.grid-code-3 {
    list-style: none;
    padding: 0;
    gap: 0.25em;
    display: grid;
    grid-template-columns: repeat(1, minmax(max-content, 1fr));    
}
@media screen and (min-width: 700px) {
    ul.grid-code-2 {
        grid-template-columns: repeat(2, minmax(max-content, 1fr));
    }
    ul.grid-code-3 {
        grid-template-columns: repeat(3, minmax(max-content, 1fr));    
    }
}
ul.grid-code-2 pre,
ul.grid-code-3 pre {
    margin: 0;
}

.hero {
    font-size: 2em;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: minmax(10vh, 15vh) min-content minmax(10vh, 15vh);
    place-items: center;
    margin-inline: auto;
}
@media screen and (min-width: 500px) {
    .hero {
        font-size: 3em;
        max-width: 80%;
        /* margin-inline: 2em; */
    }
}
.hero em {
    grid-column: span 2;
}
.hero img {
    width: 100%;
    aspect-ratio: 1;
    grid-row: span 2;
}


.fadeaway {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100vw;
    translate: 100vw;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 10;
    display: grid;
    place-items: center;
    animation: fadeaway 2s forwards;
    font-size: 2em;
    text-align: center;
}
@media screen and (min-width: 500px) {
    .fadeaway {
        opacity: 0;
        animation: none;
        translate: 0;
    }
}

@keyframes enterBack {
    0% {
        translate: -100vw;
    }
    100% {
        translate: none;
    }
}

@keyframes leaveBack {
    0% {
        translate: none;
    }
    100% {
        translate: 100vw;
    }
}

@keyframes enterForward {
    0% {
        translate: 100vw;
    }
    100% {
        translate: none;
    }
}
@keyframes leaveForward {
    0% {
        translate: none;
    }
    100% {
        translate: -100vw;
    }
}

@keyframes fadeaway {
    50% {
        opacity: 1;
        translate: 100vw;
    }
    99% {
        opacity: 0;
        translate: 100vw;
    }
    100% {
        translate: 0;
    }
}