@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --link-hue: 200;
    --link-lightness: 30%;
    --current-link-hue: 100;
    --note-hue: 30;
    --code-context-hue: 120;
    --output-context-hue: 260;
    --highlight-hue: 100;
    --fa-primary-color: #333;
    --fg-lightness: 10%;
    --bg-lightness: 100%;
}
@media (prefers-color-scheme: dark) {
    :root {
        --fg-lightness: 90%;
        --bg-lightness: 10%;
        --link-lightness: 70%;
    }
}


i::before {
    color: var(--fa-primary-color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Droid Sans", sans-serif, "Meiryo";
    font-weight: 300;
    margin: 0;
    font-size: 1.0em;
    background: hsl(0, 0%, var(--bg-lightness));
    color: hsl(0, 0%, var(--fg-lightness));
}
@media screen and (min-width: 400px) {
    body {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 1000px) {
    body {
        font-size: 1.2em;
    }
}

header, main, footer {
    padding-inline: 1rem;
}



header {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    gap: 0.5rem;
    background-color: #fafafa;
    background-color: hsl(0, 0%, var(--bg-lightness));
    margin-bottom: 2rem;
}

header > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header h1, 
header h2 {
    margin-block: 0.5rem;
}

header h1 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1em;
}
header h1 > span {
    font-weight: 300;

}

header img.logo {
    height: 1.6em;
    min-height: 0;
    margin: 0;
}

/* The menu */

#menuToggler {
    position: fixed;
    right: 1rem;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    border: none;
    background-color: hsla(0, 0%, 80%, 0.75);
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: content-box;
}
#menuToggler > span {
    width: 100%;
    height: 20%;
    border-radius: 15%;
    background: black;
}

header > nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: hsla(var(--link-hue), 5%, var(--bg-lightness), 0.9);
    border-left: solid 2px hsl(var(--link-hue), 5%, 30%);
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    font-size: 1.6em;
    gap: 1em;
    transition: translate 0.3s;
    translate: 100vw;
    z-index: 10;
    overflow-y: auto;
}
header > nav.open {
    translate: none;
}



footer {
    background-color: hsl(var(--footer-hue), 50%, 30%);
    color: hsl(var(--footer-hue), 50%, 95%);
    --fa-primary-color: hsl(var(--footer-hue), 50%, 95%);
    margin-top: 2em;
    padding-block: 4em 2em;
    display: grid;
    gap: 0.5em;
    text-align: center;
}

footer > nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;
    margin: 1em auto;
    max-width: 1000px;
}

@media (width >=600px) {
    footer > nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

footer > nav a {
    background-color: hsl(var(--footer-hue), 50%, 20%);
    padding: 0.5rem 1rem;
    min-width: max-content;
}

footer a {
    color: hsl(var(--footer-hue), 50%, 90%);
}

footer a:visited {
    color: hsl(var(--footer-hue), 50%, 80%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.inline {
    height: 1em;
}

body > p > img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

a {
    text-decoration: none;
    text-underline-offset: 3px;
    color: hsl(var(--link-hue), 100%, var(--link-lightness));
    --fa-primary-color: hsl(var(--link-hue), 100%, 30%);
}
a:visited {
    color: hsl(var(--link-hue), 50%, var(--link-lightness));
    --fa-primary-color: hsl(var(--link-hue), 50%, 30%);
}
a:hover, p > a {
	text-decoration: underline;
}
a.current {
    color: hsl(var(--current-link-hue), 100%, var(--fg-lightness));
    --fa-primary-color: hsl(var(--current-link-hue), 100%, var(--link-lightness));
}



p {
    line-height: 1.5em;
}


figure, pre, blockquote {
    break-inside: avoid;
    overflow: auto;
    margin-top: 1.5em;
}

figure {
    text-align: center;
}
figcaption {
    margin-block: 0.25em;
}

/* Normal blockquotes */
blockquote {
    --fg-lightness: 10%;
    --bg-lightness: 80%;
}
@media (prefers-color-scheme: dark) {
    blockquote {
        --fg-lightness: 10%;
        --link-lightness: 40%;
    }
}

blockquote {
    border-left-width: 5px;
    border-left-style: solid;
    margin-inline: 0;
    padding-inline: 1em;
    border-radius: 0 5px 5px 0;
    background-color: hsl(var(--note-hue), 50%, var(--bg-lightness));
    color: hsl(var(--note-hue), 50%, var(--fg-lightness));
    border-color: hsl(var(--note-hue), 100%, 50%);
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
	padding: 5px 10px;
}
td {
    background-color: hsla(0, 50%, 80%);
}
th {
    background-color: hsla(0, 50%, 60%);
    color: white;
}
tr.highlight {
    outline: 5px solid hsl(var(--highlight-hue), 80%, 30%);
    border-radius: 5px;
}
table.app td {
    background-color: #ddd;
    color: #000;
}
table.app th {
    background-color: #333;
    color: #ddd;
}
table.app td.entry,
table.app td.listbox {
    background-color: #fff;
}
/* pre and code */

code {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1em;
    line-height: 1.357em;
}

code:not(.hljs) {
    color: hsl(var(--note-hue), 100%, 40%);
}

.small-ish-code {
    font-size: 0.9em;
    margin: 0.1em;
}
.small-code {
    font-size: 0.8em;
    margin: 0.1em;
}

pre > code.language-plaintext {
    color: hsl(var(--output-context-hue), 60%, 85%);
    background-color: hsl(var(--output-context-hue), 0%, 15%);
}
pre.tight > code {
    line-height: 0.5em;
}

pre > code.hljs {
    position: relative;
}
@media (prefers-color-scheme: dark) {
    pre > code.hljs {
        border: 1px solid #666;
    }
}

pre > code.hljs:before {
    content: "";
    position: absolute;
    top: 0;
    /* left: 0; */
    bottom: 0;
    right: 0;
    width: 10em;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 10em;
    background-position: center right -5em;
    /* background-attachment: fixed; */
    opacity: 0.1;
}

pre > code.language-python:before {
    background-image: url(../img/python-logo-only.svg);
}
pre > code.language-javascript:before {
    background-image: url(../img/js-logo.svg);
    background-size: 5em;
    background-position: top right;
}
pre > code.language-json:before {
    background-image: url(https://www.json.org/img/json160.gif);
}

pre {
	border-radius: 3px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

em {
    font-weight: 400;
}
strong {
    font-weight: 500;
}


.expendable {
    display: none;
}
@media screen and (min-width: 900px) {
    .expendable {
        display: initial;
    }
}


.small-margin {
    margin-block: 0.1em;
}
.zero-margin {
    margin-block: 0;
}

.flex {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
}
.flex-squeezed {
    flex-basis: min-content;
}

.no-select {
    user-select: none;
}