@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --link-hue: 200;
    --current-link-hue: 100;
    --note-hue: 30;
    --code-context-hue: 120;
    --output-context-hue: 260;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Droid Sans", sans-serif, "Meiryo";
    font-weight: 300;
    margin: 0;
    font-size: 1.0em;
}
@media screen and (min-width: 400px) {
    body {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 800px) {
    body {
        font-size: 1.2em;
    }
}


header, main, footer {
    padding-inline: 1rem;
}



header {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    gap: 0.5rem;
    background-color: #fafafa;
    margin-bottom: 2rem;
}

header > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header h1, 
header h2 {
    margin-block: 0.5rem;
}

header h1 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1em;
}
header h1 > span {
    font-weight: 300;

}

header img.logo {
    height: 1.6em;
    min-height: 0;
    margin: 0;
}

/* The menu */

#menuToggler {
    position: fixed;
    right: 1rem;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}
#menuToggler > div {
    width: 100%;
    height: 20%;
    border-radius: 15%;
    background: black;
}

header > nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: hsla(var(--link-hue), 10%, 95%, 0.9);
    border-left: solid 2px hsl(var(--link-hue), 50%, 30%);
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    font-size: 1.6em;
    gap: 1em;
    transition: translate 0.3s;
    translate: 100vw;
    z-index: 10;
}
header > nav.open {
    translate: none;
}



footer {
    margin-top: 2em;
    display: grid;
    gap: 2em;
    place-items: end end;
    padding-block: 4em 2em;
    background-color: hsl(var(--footer-hue), 50%, 30%);
    color: hsl(var(--footer-hue), 50%, 95%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.inline {
    height: 1em;
}

body > p > img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}



a {
    text-decoration: none;
    text-underline-offset: 3px;
    color: hsl(var(--link-hue), 100%, 30%);
}
a:visited {
    color: hsl(var(--link-hue), 50%, 30%);
}
a:hover, p > a {
	text-decoration: underline;
}
a.current {
    color: hsl(var(--current-link-hue), 100%, 30%);
}



p {
    line-height: 1.5em;
}


figure, pre, blockquote {
    break-inside: avoid;
    overflow: auto;
    margin-top: 1.5em;
}

figure {
    text-align: center;
    margin: 0;
}
/* Normal blockquotes */

blockquote {
    border-left-width: 5px;
    border-left-style: solid;
    margin-inline: 0;
    padding-inline: 1em;
    border-radius: 0 5px 5px 0;
    background-color: hsl(var(--note-hue), 50%, 95%);
    border-color: hsl(var(--note-hue), 100%, 50%);
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th, td {
	padding: 5px 10px;
}

/* pre and code */

code {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1em;
    line-height: 1.357em;
}

code:not(.hljs) {
    color: hsl(var(--note-hue), 100%, 40%);
}


pre > code.language-plaintext {
    color: hsl(var(--output-context-hue), 60%, 85%);
    background-color: hsl(var(--output-context-hue), 60%, 15%);
}

pre > code.hljs:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 10em;
    background-position: center right 1em;
    opacity: 0.05;
}

pre > code.language-python:before {
    background-image: url(../img/python-logo-only.svg);
}
pre > code.language-javascript:before {
    background-image: url(../img/js-logo.svg);
}

pre {
	border-radius: 3px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}


.expendable {
    display: none;
}
@media screen and (min-width: 900px) {
    .expendable {
        display: initial;
    }
}


