@import "main.css";

:root {
    --challenge-hue: 80;
    --aside-hue: 180;
    --footer-hue: 0;
}

main {
    overflow: auto;
    max-width: 80ch;
    margin: auto;    
    padding: 0 .75rem;
	word-wrap: break-word;
}

p {
    max-width: 70ch;
}


/* headings */

h1, h2 {
	font-weight: 300;
}
h2 {
    font-size: 1.4em;
    padding-block: 0.4em;
    padding-right: 1.25em;
    border-bottom: 2px solid grey;
    page-break-before: always;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right center;
    letter-spacing: -1px;
}
h2:not(:nth-of-type(1)) {
    margin-top: 10vh;
}

h2.python {
    background-image: url(../img/python-logo-only.svg);
}
h2.js {
    background-image: url(../img/js-logo.svg);
}
h3 {
    margin-top: 5vh;
    font-size: 1.1em;
    font-weight: 400;
}
h4 {
    margin-top: 3vh;
    font-weight: 500;
    font-size: 1.1em;
}
@media screen and (min-width: 400px) {
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.2em;
    }
}



table + figcaption {
    margin-top: 0.5em;
}




.row {
    display: flex;
    gap: 0.25em;
    max-height: 17em;
    justify-content: space-between;
}

.row > img {
    min-width: 0;
    min-height: 0;
    object-fit: contain;
}

img.logo {
    min-height: 15em;
    margin: 1em auto;
}

img.header {
    max-height: 10em;
    object-fit: contain;
}

/* repeated messages on certain elements */

pre > code.hljs, blockquote.challenge {
    position: relative;
    padding-bottom: 2em;
}

pre > code::after, blockquote.challenge::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.125em 1em;
    text-align: right;
    font-size: 0.8em;
}
pre > code::after {
    color: hsla(0, 0%, var(--bg-lightness), 0.8);
    background-color: hsla(0, 0%, var(--fg-lightness), 0.25);
}

pre > code.language-python::after {
    content: "try it yourself";
}

pre > code.language-plaintext::after {
    content: "this is the output";
}



/* Challenges */

blockquote.challenge::after {
    content: "Work together. If you have questions, ask them";
    color: hsl(var(--challenge-hue), 50%, var(--fg-lightness));
    background-color: hsla(var(--challenge-hue), 100%, 20%, 0.25);
}

blockquote.challenge {
    position: relative;
    border-color: darkgrey;
    background-color: hsl(var(--challenge-hue), 50%, var(--bg-lightness));
    border-style: solid;
    border-width: 0 0.5px 0.5px 0.5px;
    border-radius: 5px;
    padding: 0 0 1.5em 0;
    color: hsl(var(--challenge-hue), 50%, var(--fg-lightness));
}

blockquote.challenge > header {
    background-color: hsl(var(--challenge-hue), 50%, 30%);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: right 0.5em top 0.5em;
    background-blend-mode: screen;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    --fa-primary-color: white;

}
blockquote.challenge > header > h4 {
    margin-block: 0;
}
blockquote.challenge.python > header {
    background-image: url("../img/python-logo-only.svg");
}
blockquote.challenge.js > header {
    background-image: url("../img/js-logo.svg");
}

blockquote.challenge > div {
    padding-inline: 1em;
}


@media screen {    
    li {
        margin-block: 0.4em;
    }    
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid hsl(var(--note-hue), 100%, 20%);
	outline-offset: -2px;
}

