@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --challenge-hue: 80;
    --note-hue: 30;
    --aside-hue: 180;
    --footer-hue: 0;
    --link-hue: 200;
    --current-link-hue: 100;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Droid Sans", sans-serif, "Meiryo";
    font-weight: 300;
    margin: 0;
    font-size: 1.2em;
}

header, main, footer {
    padding-inline: 1rem;
}

header {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    gap: 0.5rem;
    background-color: #fafafa;
    margin-bottom: 2rem;
}

header > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header h1 {
    margin-block: 0.5rem;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1em;
}
header h1 > span {
    font-weight: 300;

}

header img.logo {
    height: 1.6em;
    min-height: 0;
    margin: 0;
}

/* The menu */

#menuToggler {
    position: fixed;
    right: 1rem;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
#menuToggler > div {
    width: 100%;
    height: 20%;
    border-radius: 15%;
    background: black;
}

header > nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: hsla(var(--link-hue), 10%, 95%, 0.9);
    border-left: solid 2px hsl(var(--link-hue), 50%, 30%);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2em 1em;
    /* align-items: center; */
    font-size: 1.6em;
    gap: 1em;
    transition: translate 0.5s;
    translate: 100vw;
}
header > nav.open {
    translate: none;
}


main {
    overflow: auto;
    max-width: 60ch;
    margin: auto;    
    padding: 0 .75rem;
	word-wrap: break-word;
}


footer {
    margin-top: 2em;
    display: grid;
    gap: 2em;
    place-items: end end;
    padding-block: 4em 2em;
    background-color: hsl(var(--footer-hue), 50%, 30%);
    color: hsl(var(--footer-hue), 50%, 95%);
}
footer > nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    place-self: stretch;
    place-items: center;
    gap: 1em;
}
footer a {
    color: hsl(200, 100%, 60%);
}
footer a:visited {
    color: hsl(200, 50%, 60%);
}


@media screen and (min-width: 800px) {
    footer {
        grid-template-columns: 1fr max-content;
    }
    footer > nav {
        grid-column: span 2;
    }
}


p {
    line-height: 1.6em;
}
@media screen and (min-width: 800px) {
    p {
        font-size: 1.1em;
    }
}




/* headings */

h1, h2 {
	font-weight: 300;
}
h2 {
    font-size: 1.4em;
    padding-block: 0.4em;
    /* padding: 0.4em 1.25em; */
    border-bottom: 2px solid grey;
    page-break-before: always;
    /* background-image: url("../img/python-logo-only.svg"), url("../img/js-logo.svg");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: left bottom 0.3em, right bottom 0.3em; */
    letter-spacing: -1px;
}
h2:not(:nth-of-type(1)) {
    padding-top: 10vh;
}
h3 {
    font-size: 1.1em;
    font-weight: 400;
}
@media screen and (min-width: 400px) {
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.4em;
    }
}


a {
    text-decoration: none;
    text-underline-offset: 3px;
    color: hsl(var(--link-hue), 100%, 30%);
}
a:visited {
    color: hsl(var(--link-hue), 50%, 30%);
}
a:hover, p > a {
	text-decoration: underline;
}
a.current {
    color: hsl(var(--current-link-hue), 100%, 30%);
}

.toc + ul > li {
    margin-bottom: 0.75em;
}

em {
    font-weight: 400;
}
strong {
    font-weight: 500;
}

figure {
    text-align: center;
    margin: 0;
}

figure, pre, blockquote {
    break-inside: avoid;
    overflow: auto;
    margin-top: 1.5em;
}
table + figcaption {
    margin-top: 0.5em;
}


table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th, td {
	padding: 5px 10px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

img.inline {
    height: 1em;
}

body > p > img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.row {
    display: flex;
    gap: 0.25em;
    max-height: 17em;
    justify-content: space-between;
}

.row > img {
    min-width: 0;
    min-height: 0;
    object-fit: contain;
}

img.logo {
    min-height: 15em;
    margin: 1em auto;
}

img.header {
    max-height: 10em;
    object-fit: contain;
}

/* pre and code */

pre {
	border-radius: 3px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre > code.language-python {
    position: relative;
    padding-bottom: 1em;
}

pre > code.language-python::after {
    content: "try it yourself";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.125em 0.25em;
    border-top-left-radius: 5px;
    font-size: 0.65em;
    background-color: hsl(var(--challenge-hue), 60%, 30%);
    color: hsl(var(--challenge-hue), 50%, 90%);
}

code {
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 1em;
    line-height: 1.357em;
}


code:not(.hljs) {
    color: hsl(var(--note-hue), 100%, 40%);
}

/* Normal blockquotes */

blockquote {
    border-left-width: 5px;
    border-left-style: solid;
    margin-inline: 0;
    padding-inline: 1em;
    border-radius: 0 5px 5px 0;
    background-color: hsl(var(--note-hue), 50%, 95%);
    border-color: hsl(var(--note-hue), 100%, 50%);
}

/* Challenges */

blockquote.challenge::before {
    content: "work together on these";
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.25em 0.5em;
    border-top-left-radius: 5px;
    font-size: 0.9em;
    background-color: hsl(var(--challenge-hue), 100%, 20%);
    color: white;
}

blockquote.challenge {
    position: relative;
    border-color: darkgrey;
    background-color: hsl(var(--challenge-hue), 50%, 85%);
    border-style: solid;
    border-width: 0 0.5px 0.5px 0.5px;
    border-radius: 5px;
    padding: 0 0 1.5em 0;
}

blockquote.challenge > header {
    background-color: hsl(var(--challenge-hue), 50%, 30%);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: right 0.5em top 0.5em;
    background-blend-mode: screen;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}
blockquote.challenge.python > header {
    background-image: url("../img/python-logo-only.svg");
}
blockquote.challenge.js > header {
    background-image: url("../img/js-logo.svg");
}


blockquote.challenge > p {
    margin: 1em;
}

blockquote.challenge > pre {
    margin: 1em;
    padding: 0.5em;
}


@media screen {    
    li {
        margin: 0.25em 0;
    }    
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid hsl(var(--note-hue), 100%, 20%);
	outline-offset: -2px;
}

.expendable {
    display: none;
}

@media screen and (min-width: 900px) {
    .expendable {
        display: initial;
    }
}
